body {
    background-image: linear-gradient( to left, rgb(255, 255, 255),rgb(240, 254, 240) );
    font-family : Arial, Helvetica, sans-serif;
    color : rgb(18, 18, 18);
}

p {
    font-weight: bold;
    margin-top : 20px; 
}

form {
    margin: 50px;
}

div {
    padding : 10px;
}

h1 {
    color : rgb(255, 255, 255);
    background-color : rgb(220, 232, 89);
    padding : 2px 15px; 
    margin : 5px 0 15px 5px;
    box-shadow : 2px 2px 5px 0px rgb(211, 235, 216);
}

caption {
    padding : 5px; 
    font-weight: bold;
    background-color :  rgb(133, 162, 165);
    color : rgb(254, 254, 254);
    margin-bottom : 4px;
    margin-left : -80px;
    width : 300px;
}

td {
    width : 100px;
    padding : 5px;
}

input {
    padding : 12px;
    border-radius : 3px;
    border : none;
    margin : 3px;
    outline : none; 
}

.mesBoutons:hover {
    margin-top : -5px;
}

.maFacturePlus {
    font-family: 'Courier New', Courier, monospace;
    color : rgb(27, 27, 28);
    text-align : center;
    border : solid greenyellow 1px;
}

#selection {
    padding : 10px;
    font-size : 17px;
    background-color : rgb(132, 134, 143);
    color : rgb(226, 240, 244);
    outline : none;
}

#messageWrapper {
    position : absolute;
    margin : -275px 0 0 -560px;
    background-color : rgb(191, 240, 245);
    padding : 20px;
    border-radius : 0px 8px 8px 0px; 
    width : 850px;
    height : 248px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    box-shadow : 2px 2px 5px 0px rgb(211, 235, 216);
    transition: margin 0.5s;
    z-index : -1;
}

#message {
    margin : 100px 10px 0 0;
    color : rgb(223, 0, 0);
    font-weight: bold;
}

#options {
    margin-top : 30px;
}

#factureWrapper {
    display : none;
}

#factureTableau td {
    width : auto;
    background-color: white;
}

